// 页头
.el-header {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 12px #e8e9ec;
  background-color: #ffffff;
}

// 主体区域
.el-main {
  padding: 10px 20px;
  background-color: #f5f5f9;
}

// 左侧菜单栏
.el-menu {
  border-right: none;
}
