// 页头
:root {
  --el-color-primary: #683dc9 !important;
}
.el-header {
  padding: 0;
  border-bottom: 1px solid var(--theme-border-color);
  background-color: var(--theme-header-bg-color);
}

// 主体区域
.el-main {
  padding: 0 !important;
  background-color: var(--theme-main-bg-color);
}

// 左侧菜单栏
.el-aside {
  border-right: 1px solid var(--theme-border-color);
}

.el-menu {
  border: none !important;
}
